<div class="container">
      <br><h1>Your Cart</h1><br>
	<table id="cart" class="table table-hover table-condensed" *ngIf="items.length; else empty">
    <thead>
      <tr>
        <th style="width:70%">Your Pizza Order</th>
        <th style="width:8%; text-align: center;">Quantity</th>
        <th style="width:12%; text-align: center;">Price</th>
        <th style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="row">
            <!-- <div class="col-sm-2 hidden-xs"><img src="" alt="..." class="img-responsive"/></div> -->
            <div class="col-sm-10">
              <h4 class="nomargin">{{ items[0][0][0] }} Crust {{ items[0][0][1] }} Size Pizza</h4>
              <strong *ngIf="items[0].length > 1; else noToppings">Toppings:</strong>
                <ng-template #noToppings>
                  <strong >No toppings have been selected!</strong>
                </ng-template>
                <span *ngFor="let item of cheeseToppings"> {{ item }} |</span>
                <span *ngFor="let item of meatToppings"> {{ item }} |</span>
                <span *ngFor="let item of veggiesToppings"> {{ item }} |</span>
            </div>
          </div>
        </td>
        <td>
          <input type="number" class="form-control text-center" value="1">
        </td>
        <td class="text-center">$ 1.99</td>
        <td class="actions">
          <button class="btn btn-danger btn-sm float-right">X</button>								
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #empty>
    <h2>Your cart is empty!</h2>
  </ng-template>

<hr>
  <div class="row" *ngIf="items.length">
    <div class="col-md-6">
      <button (click)="clearCart()" class="btn  btn-danger">Removal All Items</button>
    </div>
    <div class="col-md-6">
      <div class="float-right">
        <strong>Total $1.99</strong> &nbsp;
        <a href="#" class="btn btn-success">Checkout</a>
      </div>
    </div>
  </div>
</div>