<div class="container">
      <br><h1>Your Cart</h1><br>
	<table id="cart" class="table table-hover table-condensed" *ngIf="items.length; else empty">
    <thead>
      <tr>
        <th style="width:70%">Your Orders</th>
        <th style="width:8%; text-align: center;">Quantity</th>
        <th style="width:12%; text-align: center;">Price</th>
        <th style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items; index as x">
        <td>
          <!-- Customized Pizza - Create Your Pizza  -->
          <div class="row" *ngIf="item.crust">
            <div class="col-sm-10">
              <h4 class="nomargin">{{ item.crust.style }} Crust {{ item.crust.size }} Size Pizza</h4>
               <strong *ngIf="item.cheese.toppings.length || item.meat.toppings.length || item.veggies.toppings.length; else noToppings">Toppings:</strong>
                <ng-template #noToppings>
                  <strong >No toppings have been selected!</strong>
                </ng-template>
                <span *ngFor="let topping of item.cheese.toppings"> {{ topping }} |</span> 
                <span *ngFor="let topping of item.meat.toppings"> {{ topping }} |</span>
                <span *ngFor="let topping of item.veggies.toppings"> {{ topping }} |</span>
            </div>
          </div>
          <!-- Pre-Built Pizza -->
          <div class="row" *ngIf="item.toppingsArr">
            <div class="col-sm-10">
              <h4>{{ item.size}} {{ item.itemName }}</h4>
              <strong>Toppings:</strong>
              <span *ngFor="let topping of item.toppingsArr"> {{ topping | titlecase}} | </span>
            </div>
          </div>
          <!-- Sides -->
          <div class="row" *ngIf="item.dipping">
            <div class="col-sm-10">
              <h4 class="nomargin">{{ item.name }}</h4>
              ({{ item.amount }}) Pieces with {{ item.dipping }} Sauce Dipping
            </div>
          </div>
          <!-- Drinks -->
          <div class="row" *ngIf="item.drink">
            <div class="col-sm-10">
              <h4 class="nomargin">{{ item.drink }} Drink</h4>
              Size: {{ item.size }}
            </div>
          </div>
        </td>
        <td>
          <input 
            type="number" class="form-control text-center"
            value="{{ item.quantity }}" min="1" max="20"
            [(ngModel)]="item.quantity" 
            (click)="changeQty(x)">
        </td>
        <td class="text-center">$ <span>{{ item.price | number }}</span></td>
        <td class="actions">
          <button class="btn btn-danger btn-sm float-right" (click)="deleteItem(x, item.price)">X</button>								
        </td>
      </tr>
    </tbody>
  </table>

  <ng-template #empty>
    <h2>Your cart is empty!</h2>
  </ng-template>

<hr>
  <div class="row" *ngIf="items.length">
    <div class="col-md-6">
      <button (click)="clearCart()" class="btn  btn-danger">Removal All Items</button>
    </div>
    <div class="col-md-6">
      <div class="float-right">
        <strong>Total $ {{ totalPrice | number }}</strong> &nbsp;
        <a href="#" class="btn btn-success">Checkout</a>
      </div>
    </div>
  </div>
</div>