<div class="row">
  <div class="col-md-3" *ngFor="let meat of meats" (click)="selectMeat(meat)" style="cursor: pointer; margin-bottom: 15px;">
    <div class="card"  [class.selected]="meat.selected">
      <img class="card-img-top" src="{{meat.image}}" alt="{{ meat.name }}">
      <div class="card-body">
        <p class="card-text">{{ meat.name }}</p>
      </div>
    </div>
  </div>
</div>

<br>
<div class="row">
  <button class="btn btn-dark" routerLink="/pizza/build/cheese">Previous</button> &nbsp;
  <button class="btn btn-dark" routerLink="/pizza/build/veggies">NEXT</button>
</div>
