<div class="row">
  <div class="col-md-3" *ngFor="let veggie of veggies" (click)="selectVeggie(veggie)" style="cursor: pointer; margin-bottom: 15px;">
    <div class="card"  [class.selected]="veggie.selected">
      <img class="card-img-top" src="{{veggie.image}}" alt="{{ veggie.name }}">
      <div class="card-body">
        <p class="card-text">{{ veggie.name }}</p>
      </div>
    </div>
  </div>
</div>

<br>
<div class="row">
  <button class="btn btn-dark" routerLink="/pizza/build/meats">Previous</button> &nbsp;
  <button class="btn btn-success">Add To Cart</button>
</div>