<form (ngSubmit)="onSubmit(cheeseForm)" #cheeseForm="ngForm">
<div class="card">
  <div class="card-header">How much cheese?</div>
  <div class="card-body">
    <div class="form-check d-inline p-4" *ngFor="let amount of cheeseAmounts">
      <input class="form-check-input" type="radio" name="amount.amount" [id]="amount.amount" [value]="amount.amount" (click)="selectAmount(amount)" [checked]="amount.selected">
      <label class="form-check-label" [for]="amount.amount" (click)="selectAmount(amount)">
        {{ amount.amount | titlecase }}
      </label>
    </div>
  </div>
</div>

<br>
<div class="card">
  <div class="card-header">Additional cheese toppings? (Optional)</div>
  <div class="card-body row">

  <div class="col-md-4" *ngFor="let topping of toppings" (click)="selectCheese(topping)" style="cursor: pointer;">
    <div class="card"  [class.selected]="topping.selected">
      <img class="card-img-top" src="{{ topping.image }}" alt="{{ topping.name }}">
      <div class="card-body">
        <p class="card-text">{{ topping.name }} | ${{ topping.price }}</p> 
      </div>
    </div>
  </div>
  </div>
</div>

<br>
<div class="row">
  <button class="btn btn-dark" routerLink="/pizza/build/size-crust">Previous</button> &nbsp;
  <button class="btn btn-dark" type="submit" >NEXT</button>
</div>

</form>