<br>

<div class="modal-dialog cart-modal" *ngIf="cart_modal">
  <div class="modal-content">
    <div class="modal-body">
      <p>Please check the cart to see your order!</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-lg-3" style="margin-bottom: 10px;">
    <div class="card ">
      <img src="https://www.kingarthurflour.com/sites/default/files/styles/featured_image/public/recipe_legacy/1344-3-large.jpg?itok=n_EPr6zZ" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title pt-2">Create Your Own Pizza</h5>
        <p class="card-text pt-3"></p><br>
        <a routerLink="/pizza/build/size-crust" class="btn btn-success">Customize</a>
      </div>
    </div>
  </div><br>
  <div class="col-md-6 col-lg-3" *ngFor="let singlePizza of pizza; index as i" style="margin-bottom: 10px;">
    <div class="card ">
      <img src="{{ singlePizza.image}}" class="card-img-top" alt="..." style="max-height: 180px;">
      <div class="card-body">
        <h5 class="card-title">{{ singlePizza.itemName }}</h5>
        <p class="card-text">
          <select class="form-control d-inline col-8" [(ngModel)]="singlePizza.itemSize">
            <option value="Small">Small $ {{ singlePizza.minPrice | number}}</option>
            <option value="Medium">Medium $ {{ singlePizza.minPrice + 2 | number}}</option>
            <option value="Large">Large $ {{ singlePizza.minPrice + 4 | number}}</option>
          </select>
          <input 
            type="number" class="form-control text-center d-inline col-3 float-right"
            value="{{ singlePizza.quantity }}" min="1" max="10"
            [(ngModel)]="singlePizza.quantity">
        </p>
        <a style="color: #fff" class="btn btn-primary" (click)="addToCart(singlePizza, singlePizza.itemSize)">Add to Cart</a>
      </div>
    </div>
  </div>
</div>